<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About</h2>
    <p class="text-zinc-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae numquam debitis id iste? Earum modi corporis eaque accusamus cumque? Repellendus, architecto ad tenetur magnam eos culpa alias, esse neque, animi consectetur iure nihil repudiandae obcaecati cum fuga! Veniam sunt eius minima maxime quasi accusantium, voluptas libero iusto, error omnis voluptates.
    </p>
</section>
