---
import Layout from "../layouts/layout.astro";

---

<Layout title="Acerca del Sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae fugit repellat iure rerum eveniet, qui quibusdam dolor accusamus nostrum libero voluptatibus quae maiores id. Ut molestiae distinctio fugit culpa. Voluptatum officiis dolorem facere in, eum sit repellat laboriosam alias fuga minima eius at, iste mollitia odio recusandae illum vero placeat quidem. Molestias, hic mollitia laborum porro ad illo impedit accusantium sit explicabo. Molestiae explicabo reiciendis rerum eum, exercitationem sint fuga libero in consequuntur aperiam. Sequi maxime exercitationem voluptas a voluptates inventore esse optio. Quaerat impedit odit quia autem, sed qui omnis repellat accusantium repudiandae culpa at voluptate et aperiam.</p>
</Layout>